/* המיכל שעוטף את הכל - חשוב כדי שהתפריט הנפתח ימוקם ביחס אליו */
.languageSwitcher {
  position: relative;
  display: inline-block;
  z-index: 100;
}

/* הכפתור הראשי */
.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none
}

/* התפריט הנפתח - מוסתר כברירת מחדל */
.dropdown {
  position: absolute;
  top: 100%; /* ממקם את התפריט בדיוק מתחת לכפתור */
  right: 0; /* מצמיד אותו לצד ימין (או left: 0 אם תרצה לשמאל) */
  /* margin-top: 4px; */
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  z-index: 100; /* מוודא שהתפריט יופיע מעל אלמנטים אחרים */
  
  /* הסתרה כברירת מחדל */
  display: none; 
  flex-direction: column;
}

/* כשהקלאס 'open' מתווסף (בלחיצה), התפריט מוצג */
.dropdown.open {
  display: flex;
}

/* עיצוב אופציות השפה בתוך התפריט */
.langOption {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left; /* יישור הטקסט */
}

/* אפקט מעבר עכבר על השפות */
.langOption:hover {
  background-color: var(--primary);
  color: var(--background);
}

.flagIcon {
  width: 28px;
  height: 24px;
  /* object-fit: cover; */
}